@media screen and (max-width: 1199px) {
  * {
    color: white;
  }
  .header::after {
    content: "Mon portfolio est disponible seulement en format ordinateur, ll sera disponible sur ce type de format prochainement";
    background-color: #B61E16;
    display: block;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    overflow-x: hidden;
    overflow-y: visible;
    animation: scroll 0s 4s forwards;
  }
  @keyframes scroll {
    from {
      overflow-y: hidden;
    }
    to {
      overflow-y: visible;
    }
  }
  body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
    border-radius: 20px;
  }
  body::-webkit-scrollbar-track {
    background-color: white; /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(37, 48, 112); /* color of the scroll thumb */
  }
  .animation_introduction {
    padding-bottom: 150px;
  }
  .bonjour {
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    display: flex;
    align-items: center;
    transform: scale(0);
    animation: lancement_bonjour 0.8s 0.5s;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(37, 48, 112);
  }
  .bonjour > h1 {
    font-size: 100px;
  }
  @keyframes lancement_bonjour {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.3);
      transition-timing-function: ease-out;
    }
    70%, 100% {
      transform: scale(1);
      transition-timing-function: ease-in;
    }
  }
  .soulignement, .header > a::after, .introduction__phrase > span::after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    position: absolute;
    transform: scaleX(0);
    z-index: -2;
  }
  .introduction__phrase, section > h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(37, 48, 112);
    font-weight: 100;
  }
  .introduction {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98.5%;
    height: 50%;
    transform: translate(0%, 60%);
    padding-top: 30px;
  }
  .introduction__phrase {
    margin-top: -40px;
    font-size: 60px;
    width: 80%;
    display: flex;
    justify-content: center;
    height: 47%;
    padding-left: 1x;
    position: relative;
    z-index: -1;
  }
  .introduction__phrase > span {
    position: relative;
    margin-left: 12px;
  }
  .introduction__phrase > span::after {
    content: "";
    background-color: #80D39B;
    margin-top: 40px;
    transform-origin: 0% 50%;
    transform: scaleX(0);
    height: 25px;
    animation: soulignement 1s 3s forwards;
  }
  .introduction__phrase--1 {
    transform: translateX(115%);
    animation: lancement_introduction_1 1.5s 1.3s forwards;
  }
  @keyframes lancement_introduction_1 {
    0% {
      transform: translateX(115%);
    }
    50% {
      transform: translateX(-10%);
      transition-timing-function: ease-out;
    }
    100% {
      transform: translateX(0);
      transition-timing-function: ease-in;
    }
  }
  .introduction__phrase--2 {
    transform: translateX(-115%);
    animation: lancement_introduction_2 1.5s 1.8s forwards;
  }
  @keyframes lancement_introduction_2 {
    0% {
      transform: translateX(-115%);
    }
    50% {
      transform: translateX(10%);
      transition-timing-function: ease-out;
    }
    100% {
      transform: translateX(0);
      transition-timing-function: ease-in;
    }
  }
  @keyframes soulignement {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
  .barre_entete {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .header {
    border: rgb(251, 217, 190) solid 8px;
    background-color: rgb(5, 5, 59);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px 30px 0px;
    transform: translateX(-110%);
    animation: lancement_entete 1s 3s linear forwards;
  }
  .header > a {
    color: rgb(251, 217, 190);
    text-decoration: none;
    font-size: 25px;
    transition: 10ms;
    position: relative;
  }
  .header > a:hover::after {
    transform: scaleX(1);
  }
  .header > a::after {
    content: "";
    background-color: #B61E16;
    transform-origin: 0% 50%;
    transition: transform 1s;
    margin-top: 15px;
    height: 12px;
  }
  @keyframes lancement_entete {
    0% {
      transform: translateX(-110%);
    }
    20% {
      transform: translateX(0%);
      transition-timing-function: ease-in;
    }
    40% {
      transform: translateX(-2%);
      transition-timing-function: ease-out;
    }
    60% {
      transform: translateX(0%);
      transition-timing-function: ease-in;
    }
    80% {
      transform: translateX(-0.5%);
      transition-timing-function: ease-out;
    }
    100% {
      transform: translateX(0%);
      transition-timing-function: ease-in;
    }
  }
  section {
    padding-top: 95px;
    position: relative;
  }
  section > h1 {
    font-weight: 100;
    font-size: 35px;
  }
  .a_propos_de_moi {
    top: 110px;
    width: 90%;
  }
  .a_propos_de_moi__contenu {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .a_propos_de_moi__contenu__paragraphe {
    color: white;
    background-color: rgb(37, 48, 112);
    font-size: 20px;
    width: 50%;
    padding: 24px;
    border-radius: 13px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  }
  .a_propos_de_moi__contenu__mon_cv {
    position: relative;
    width: 250px;
    height: 200px;
    border: rgb(37, 48, 112) solid 2px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(37, 48, 112);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .a_propos_de_moi__contenu__mon_cv:not(:hover) {
    transition: 2.5s;
  }
  .a_propos_de_moi__contenu__mon_cv::after {
    content: "";
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #80D39B;
    color: white;
    position: absolute;
    top: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: -1;
    transform-origin: 0% 50%;
  }
  .a_propos_de_moi__contenu__mon_cv:hover {
    border-color: white;
  }
  .a_propos_de_moi__contenu__mon_cv:hover > p {
    color: white;
  }
  .a_propos_de_moi__contenu__mon_cv:hover::after {
    transform: scaleX(1);
  }
  .mes_experiences {
    top: 110px;
    width: 100%;
    height: 700px;
  }
  .mes_experiences__type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 70px;
  }
  .mes_experiences__type > div {
    position: relative;
    font-size: 15px;
    color: rgb(37, 48, 112);
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(1);
    transition: 0.5s;
  }
  .mes_experiences__type > div::before {
    content: "";
    background-color: rgb(37, 48, 112);
    display: block;
    width: 200%;
    height: 40%;
    position: absolute;
    transform: scale(0);
  }
  .mes_experiences__type > div > button {
    position: absolute;
    font-size: 22px;
    color: rgb(37, 48, 112);
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: white;
    border: none;
    width: 98%;
    height: 95%;
    box-shadow: 20px 20px 1px 20px rgba(106, 106, 113, 0.2);
  }
  .mes_experiences__type > div:hover {
    transform: scale(1.2);
  }
  .mes_experiences__type > div:hover::before {
    animation: rotation 3s 0.2s linear infinite;
  }
  @keyframes rotation {
    0% {
      transform: scale(0);
    }
    1% {
      transform: scale(1);
    }
    2% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(350deg);
    }
  }
}

/*# sourceMappingURL=accueil.css.map */
