@media screen and (max-width: 1199px) {
  * {
    color: white;
  }
  .header::after {
    content: "Mon portfolio est disponible seulement en format ordinateur large, ll sera disponible sur ce type de format prochainement";
    background-color: #B61E16;
    display: block;
    height: 50px;
  }
  button, img {
    opacity: 0;
  }
}
@media screen and (min-width: 1200px) {
  html {
    overflow-x: hidden;
    overflow-y: hidden;
    animation: scroll 0s 8.5s forwards;
  }
  @keyframes scroll {
    from {
      overflow-y: hidden;
    }
    to {
      overflow-y: visible;
    }
  }
  body {
    height: 100%;
    width: 100%;
  }
  body::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #FF7F11;
    border-radius: 20px;
  }
  .header {
    z-index: 10;
    width: 99%;
    position: fixed;
    border: #FF7F11 solid 2px;
    background-color: #fff;
    color: rgb(31, 3, 104);
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px 30px 0px;
    overflow: hidden;
    transition: 0.5s;
    transform: translateY(-110%);
  }
  .header:hover > .header__ligne {
    transform: translateY(0%);
  }
  .header > a {
    color: rgb(31, 3, 104);
    text-decoration: none;
    font-size: 25px;
    transition: 10ms;
    position: relative;
  }
  .header > a:hover::after {
    transform: scaleX(1);
  }
  .header > a::after {
    content: "";
    background-color: #FF7F11;
    opacity: 0.6;
    transition: transform 1s;
    margin-top: 15px;
    height: 12px;
  }
  .header__ligne {
    position: absolute;
    background-color: #FF7F11;
    height: 7.5px;
    width: 100%;
    bottom: 0px;
    transform-origin: 50% 100%;
    transform: translateY(280%);
    transition: 0.5s;
  }
  .header__ligne__bouton {
    background-color: #FF7F11;
    position: absolute;
    background-image: url("../icone/fleche-droite.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.5s;
    border-radius: 8.5px;
    width: 20px;
    height: 20px;
    background-size: 10px 10px;
    transform: rotate(-90deg);
    left: 50%;
    bottom: 1px;
  }
  .bouton__ouvrir_entete {
    width: 50px;
    height: 50px;
    border: white solid 2px;
    border-radius: 50px;
    background-color: #FF7F11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 49%;
    transition: 0.5s;
    z-index: 9;
    transform: scale(0);
    animation: lancement_entete 0.6s 7.9s forwards;
  }
  @keyframes lancement_entete {
    0% {
      transform: scale(0);
      transition-timing-function: ease-out;
    }
    50% {
      transform: scale(2);
      transition-timing-function: ease-in;
    }
    100% {
      transform: scale(0.7);
    }
  }
  .bouton__ouvrir_entete:hover {
    transform: scale(1);
  }
  .bouton__ouvrir_entete > img {
    width: 50%;
    height: 50%;
    transform: rotate(90deg);
  }
  .way_formation__bouton {
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 25%;
    right: 0%;
    z-index: 9;
    font-size: 30px;
    font-family: "Arial Black";
    width: 310px;
    border-radius: 5px;
    right: 6px;
    transform: translateX(74%);
    transition: 0.5s;
    opacity: 0;
    animation: lancement_way_formation 0.6s 7.9s forwards;
  }
  @keyframes lancement_way_formation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .way_formation__bouton--way {
    color: #fff;
    background-color: rgb(255, 0, 161);
    letter-spacing: 2px;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 3px;
    position: relative;
  }
  .way_formation__bouton--formation {
    position: relative;
    right: 5px;
  }
  .way_formation__bouton:hover {
    transform: translateX(0%);
  }
  .accueil {
    position: absolute;
    top: 0px;
    width: 102%;
    height: 577px;
    background-color: white;
    left: 0px;
  }
  .accueil::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(333deg, rgb(31, 3, 104) 55%, #FF7F11 99%);
    position: absolute;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: 0% 100%;
    animation: fond 1s 4.9s forwards;
  }
  @keyframes fond {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
  .bonjour {
    width: 400px;
    height: 300px;
    position: absolute;
    right: 36%;
    top: 5%;
    transform: scale(0);
    animation: lancement_bonjour 1s 0.5s;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(31, 3, 104);
    z-index: 2;
  }
  .bonjour > h1 {
    font-size: 100px;
  }
  @keyframes lancement_bonjour {
    0% {
      transform: scale(0);
      transition-timing-function: ease-out;
    }
    50% {
      transform: scale(1.2);
      transition-timing-function: ease-in;
    }
    100% {
      transform: scale(0);
    }
  }
  .introduction {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 450px;
    top: 100px;
  }
  .introduction__phrase {
    position: relative;
    width: 45%;
    height: 100%;
    color: rgb(31, 3, 104);
    font-size: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: couleur_phrases forwards 1s 4.9s;
    z-index: 2;
  }
  @keyframes couleur_phrases {
    from {
      color: rgb(31, 3, 104);
    }
    to {
      color: #fff;
    }
  }
  .introduction__phrase--1 {
    transform: translateX(-115%);
    animation: phrase_1 0.8s 1.5s forwards;
  }
  @keyframes phrase_1 {
    0% {
      transform: translateX(-110%);
      transition-timing-function: ease-out;
    }
    80% {
      transform: translateX(10%);
      transition-timing-function: ease-in;
    }
    100% {
      transform: translateX(0%);
    }
  }
  .introduction__phrase--1__soulignement--1::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #FF7F11;
    width: 24.5%;
    height: 3px;
    right: 177px;
    bottom: 2px;
    transform-origin: 0% 50%;
    transform: scale(0);
    animation: soulignement 1s 6.4s forwards;
  }
  .introduction__phrase--1__soulignement--2::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #FF7F11;
    width: 32.5%;
    height: 3px;
    right: 0px;
    bottom: 2px;
    transform-origin: 0% 50%;
    transform: scale(0);
    animation: soulignement 1s 6.4s forwards;
  }
  .introduction__phrase--2 {
    transform: scale(0);
    animation: phrase_2 0.8s 2.3s forwards;
  }
  @keyframes phrase_2 {
    0% {
      transform: scale(0);
      transition-timing-function: ease-out;
    }
    80% {
      transform: scale(1.2);
      transition-timing-function: ease-in;
    }
    100% {
      transform: scale(1);
    }
  }
  .introduction__phrase--2__soulignement::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #FF7F11;
    width: 42.5%;
    height: 3px;
    right: 0px;
    bottom: 2px;
    transform-origin: 100% 50%;
    transform: scale(0);
    animation: soulignement 1s 6.9s forwards;
  }
  @keyframes soulignement {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  .introduction__phrase--3 {
    font-size: 40px;
  }
  .introduction__phrase--3 > .introduction__phrase--3--1 {
    opacity: 0;
    animation: phrase_3 0.5s 3.1s forwards;
  }
  .introduction__phrase--3 > .introduction__phrase--3--2 {
    opacity: 0;
    animation: phrase_3 0.5s 3.6s forwards;
  }
  .introduction__phrase--3 > .introduction__phrase--3--3 {
    opacity: 0;
    animation: phrase_3 0.5s 4.1s forwards;
  }
  .introduction__phrase--3 > .introduction__phrase--3--4 {
    opacity: 0;
    animation: phrase_3 0.5s 4.6s forwards;
  }
  .introduction__phrase--3 > .introduction__phrase--3--5 {
    opacity: 0;
    animation: phrase_3 0.5s 5.1s forwards;
  }
  @keyframes phrase_3 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .introduction__phrase > h2 {
    font-weight: 100;
  }
  .introduction__image {
    z-index: 2;
    transform: scale(0);
    width: 45%;
    height: 100%;
    animation: image 0.5s 5.9s forwards;
    overflow: hidden;
    border-radius: 20px;
  }
  .introduction__image > img {
    position: absolute;
  }
  @keyframes image {
    0% {
      transform: scale(0);
      transition-timing-function: ease-out;
    }
    80% {
      transform: scale(1.2);
      transition-timing-function: ease-in;
    }
    100% {
      transform: scale(1);
    }
  }
  .animation_introduction {
    padding-bottom: 150px;
  }
  .soulignement, .header > a::after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    position: absolute;
    transform: scaleX(0);
    z-index: -2;
    transform-origin: 0% 50%;
    transform: scaleX(0);
  }
  .introduction__phrase, section > h1, section > h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 100;
  }
  main {
    width: 100%;
  }
  section {
    padding-top: 95px;
    width: 100%;
    position: relative;
    background-position-x: left;
  }
  section > h1 {
    font-weight: 100;
    font-size: 35px;
    text-decoration: underline #FF7F11;
  }
  section > h1 {
    color: rgb(31, 3, 104);
  }
  .a_propos_de_moi {
    padding-top: 120px;
    top: 850px;
    width: 100%;
    position: relative;
    padding-bottom: 60px;
    background: radial-gradient(circle, transparent 37.4%, #FF7F11 38%, transparent 38.6%);
  }
  .a_propos_de_moi__contenu {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .a_propos_de_moi__contenu__paragraphe {
    color: white;
    background-color: rgb(31, 3, 104);
    padding: 0px 20px 0px 20px;
    border-radius: 13px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
    font-size: 20px;
    width: 50%;
  }
  .a_propos_de_moi__contenu__mon_cv {
    position: relative;
    width: 250px;
    height: 200px;
    border: rgb(31, 3, 104) solid 2px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(31, 3, 104);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .a_propos_de_moi__contenu__mon_cv:not(:hover) {
    transition: 2.5s;
  }
  .a_propos_de_moi__contenu__mon_cv::after {
    content: "";
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #FF7F11;
    color: white;
    position: absolute;
    top: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: -1;
    transform-origin: 0% 50%;
  }
  .a_propos_de_moi__contenu__mon_cv:hover {
    border-color: white;
  }
  .a_propos_de_moi__contenu__mon_cv:hover > p {
    color: white;
  }
  .a_propos_de_moi__contenu__mon_cv:hover::after {
    transform: scaleX(1);
  }
  .mes_experiences {
    top: 1200px;
    width: 100%;
    height: 900px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
    overflow: hidden;
  }
  .mes_experiences > h1 {
    z-index: 2;
    position: relative;
    bottom: 50px;
  }
  .mes_experiences__carre {
    background-color: #fff;
    height: 350px;
    width: 350px;
    position: absolute;
    transform: rotate(45deg);
    top: 34.75%;
    z-index: 1;
    border: solid rgb(31, 3, 104) 10px;
    z-index: 0;
    opacity: 0.5;
    transition: 1.5s;
    animation: rotation_carre 15s infinite linear;
  }
  @keyframes rotation_carre {
    from {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(405deg);
    }
  }
  .mes_experiences::before {
    content: "";
    height: 700px;
    width: 700px;
    left: -28.9%;
    position: absolute;
    transform: rotate(45deg);
    z-index: 1;
    border-top: rgb(31, 3, 104) solid 10px;
    border-right: rgb(31, 3, 104) solid 10px;
    background-color: #FF7F11;
    opacity: 0.5;
  }
  .mes_experiences::after {
    content: "";
    height: 700px;
    width: 700px;
    right: -28.7%;
    background-color: #FF7F11;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    transform: rotate(45deg);
    border-left: rgb(31, 3, 104) solid 10px;
    border-bottom: rgb(31, 3, 104) solid 10px;
  }
  .mes_experiences__titre {
    font-size: 26px;
    letter-spacing: 15px;
    z-index: 2;
    color: rgb(31, 3, 104);
    position: relative;
    top: 20px;
  }
  .mes_experiences__type__generale {
    z-index: 3;
    bottom: 40px;
    width: 85%;
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 20px;
  }
  .mes_experiences__type__generale__liste__tout {
    border-radius: 10px;
    width: 30%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 5px 1px rgba(106, 106, 113, 0.2);
    transition: 0.5s;
    bottom: 40px;
  }
  .mes_experiences__type__generale__liste__tout:hover > div {
    transform: translateY(0%);
  }
  .mes_experiences__type__generale__liste__tout:hover {
    transform: scale(1.2);
    box-shadow: 20px 20px 5px 1px rgba(106, 106, 113, 0.2);
  }
  .mes_experiences__type__generale__liste__tout > div {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    transform: translateY(103%);
    transition: 0.5s;
  }
  .mes_experiences__type__generale__liste__tout > div > div {
    background-color: transparent;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 7px;
    top: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    border-radius: 40px;
  }
  .mes_experiences__type__generale__liste__tout > div > div::after {
    content: "";
    display: block;
    position: absolute;
    background-color: white;
    width: 80%;
    height: 10%;
    border-radius: 5px;
    transition: 0.5s;
  }
  .mes_experiences__type__generale__liste__tout > div > div::before {
    content: "";
    display: block;
    position: absolute;
    background-color: white;
    width: 11%;
    height: 80%;
    border-radius: 5px;
    transition: 0.5s;
  }
  .mes_experiences__type__generale__liste__tout > div > div:hover {
    transform: rotate(180deg);
  }
  .mes_experiences__type__projet__liste--Jeux {
    background-color: white;
    color: black;
  }
  .mes_experiences__type__projet__liste--Jeux__info {
    color: #fff;
    background-color: rgb(31, 3, 104);
  }
  .mes_experiences__type__projet__liste--Application_vacance {
    background-color: white;
  }
  .mes_experiences__type__projet__liste--Application_vacance__info {
    background-color: #3CB371;
    color: #fff;
  }
  .mes_experiences__type__projet__liste--Application_vacance > p {
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3CB371;
    font-size: 50px;
    font-weight: 700;
  }
  .mes_experiences__type__projet__liste--Application_xml {
    background-color: rgb(36, 36, 36);
  }
  .mes_experiences__type__projet__liste--Application_xml__info {
    color: #fff;
    background-color: rgb(36, 36, 36);
  }
  .mes_experiences__type__projet__liste--Application_xml > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
  }
  .mes_experiences__type__mission__liste--Way {
    background-color: rgb(37, 34, 45);
  }
  .mes_experiences__type__mission__liste--Way__info {
    color: #fff;
    background-color: rgb(237, 42, 146);
  }
  .mes_experiences__type__mission__liste--Way > p {
    color: white;
    font-family: "Arial Black";
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
  }
  .mes_experiences__type__mission__liste--Way > p > .mes_experiences__type__mission__liste--Way--way {
    color: white;
    letter-spacing: 3px;
    background-color: rgb(237, 42, 146);
    padding: 0px 3.5px 0px 5px;
    font-size: 27px;
    border-radius: 5px;
  }
  .mes_experiences__type__mission__liste--Way__image {
    width: 66%;
    height: 70%;
  }
  .mes_experiences__type__mission__liste--Way__info__lien {
    text-decoration: underline dashed;
    color: white;
  }
  .mes_experiences__type__mission__liste--Way__info__lien:hover {
    text-decoration: underline;
  }
  .mes_experiences__type__mission__liste--Aoip {
    background-color: white;
  }
  .mes_experiences__type__mission__liste--Aoip__info {
    color: #fff;
    background-color: #7e0f0a;
  }
  .mes_experiences__type__mission__liste--Aoip > p {
    font-family: Optima, sans-serif;
    font-size: 80px;
    color: #fff;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: hsl(231deg, 50%, 29%);
  }
  .veille_technologique {
    height: 500px;
    width: 103%;
    position: relative;
    top: 1550px;
    background: radial-gradient(circle, transparent 37.4%, #FF7F11 38%, transparent 38.6%);
  }
  .veille_technologique__contenu {
    position: relative;
    width: 100%;
    height: 100px;
  }
  .veille_technologique__contenu__citation {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: rgb(58, 58, 58);
  }
  .veille_technologique__contenu__citation > h2 {
    font-weight: 100;
    font-style: oblique;
  }
  .veille_technologique__contenu__citation__auteur {
    font-size: 18px;
    right: 23%;
    position: absolute;
  }
  .veille_technologique__contenu__definition {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 35%;
  }
  .veille_technologique__contenu__definition__texte {
    color: white;
    background-color: rgb(31, 3, 104);
    padding: 0px 20px 0px 20px;
    border-radius: 13px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
    font-family: Georgia, "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 45%;
    height: 50%;
    font-size: 20px;
  }
  .veille_technologique__contenu__definition__bouton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 18%;
    height: 50px;
    right: 100px;
    overflow: hidden;
    border-radius: 50px;
  }
  .veille_technologique__contenu__definition__bouton__fleche {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 3, 104);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    z-index: 2;
  }
  .veille_technologique__contenu__definition__bouton__fleche > img {
    position: absolute;
    width: 25px;
    height: 25px;
    transition: 0.5s;
  }
  .veille_technologique__contenu__definition__bouton__fleche::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 4px;
    border-radius: 50px;
    transition: 0.5s;
    transform: translateX(0%);
    opacity: 0;
  }
  .veille_technologique__contenu__definition__bouton__voir_plus {
    font-family: Georgia, "Times New Roman", Times, serif;
    position: relative;
    font-size: 22px;
    color: rgb(31, 3, 104);
    right: 30px;
    transition-delay: 0.2s;
    z-index: 2;
  }
  .veille_technologique__contenu__definition__bouton__before {
    z-index: 1;
    display: block;
    position: absolute;
    background-color: rgb(31, 3, 104);
    width: 100%;
    height: 50px;
    border-radius: 50px;
    transform: translateX(-100%);
    transition: 0.7s;
  }
  .veille_technologique__contenu__definition__bouton:hover > .veille_technologique__contenu__definition__bouton__before {
    transform: translateX(0%);
  }
  .veille_technologique__contenu__definition__bouton:hover > .veille_technologique__contenu__definition__bouton__voir_plus {
    color: white;
  }
  .veille_technologique__contenu__definition__bouton:hover > .veille_technologique__contenu__definition__bouton__fleche > img {
    transform: translateX(110%);
  }
  .veille_technologique__contenu__definition__bouton:hover > .veille_technologique__contenu__definition__bouton__fleche::after {
    transform: translateX(100%);
    opacity: 1;
  }
  .veille_technologique__contenu__cours {
    width: 95%;
    height: 1000px;
    position: absolute;
    z-index: 5;
    top: 0%;
    left: 10px;
    background-color: rgb(245, 245, 245);
    color: rgb(31, 3, 104);
    transform: scale(0);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .veille_technologique__contenu__cours__croix {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }
  .veille_technologique__contenu__cours__croix:hover {
    transform: rotate(135deg);
  }
  .veille_technologique__contenu__cours__croix::after {
    content: "";
    display: block;
    background-color: rgb(31, 3, 104);
    width: 100%;
    height: 10%;
    position: absolute;
    border-radius: 50px;
  }
  .veille_technologique__contenu__cours__croix::before {
    content: "";
    display: block;
    background-color: rgb(31, 3, 104);
    width: 10%;
    height: 100%;
    position: absolute;
    border-radius: 50px;
  }
  .veille_technologique__contenu__cours__contenu {
    font-family: Georgia, "Times New Roman", Times, serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    width: 100%;
  }
  .veille_technologique__contenu__cours__contenu__texte > p {
    text-align: left;
  }
  .veille_technologique__contenu__cours__contenu__texte > p > span {
    font-style: oblique;
  }
  .veille_technologique__contenu__cours__contenu__texte > p > a {
    font-style: oblique;
    color: #FF7F11;
    text-decoration: underline #FF7F11;
  }
  .veille_technologique__contenu__cours__contenu__texte > p > a:hover {
    text-decoration: none;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__cours__contenu__image {
    font-size: 15px;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__partie_1__cours__contenu__image {
    width: 20%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__partie_1__cours__contenu__image > img {
    width: 100%;
    height: 100%;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__partie_1__cours__contenu__image:hover > .veille_technologique__contenu__partie_1__cours__contenu__image__info {
    transform: translateY(0%);
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__partie_1__cours__contenu__image__info {
    background: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
    transform-origin: 50% 100%;
    transform: translateY(100%);
    transition: 0.5s;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__partie_1__cours__contenu__image__info > a {
    font-style: oblique;
    color: #FF7F11;
    text-decoration: underline #FF7F11;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__partie_1__cours__contenu__image__info > a:hover {
    text-decoration: none;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__partie_2__cours__contenu__image {
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__partie_2__cours__contenu__image > img {
    width: 100%;
    height: 100%;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__partie_2__cours__contenu__image:hover > .veille_technologique__contenu__partie_2__cours__contenu__image__info {
    transform: translateY(0%);
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__partie_2__cours__contenu__image__info {
    background: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
    transform-origin: 50% 100%;
    transform: translateY(100%);
    transition: 0.5s;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__partie_2__cours__contenu__image__info > a {
    font-style: oblique;
    color: #FF7F11;
    text-decoration: underline #FF7F11;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__partie_2__cours__contenu__image__info > a:hover {
    text-decoration: none;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__cours__contenu__partie_3__texte {
    margin-right: 30%;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__cours__contenu__partie_3__texte li {
    list-style: none;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__cours__contenu__partie_3__texte > a {
    color: rgb(31, 3, 104);
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__cours__contenu__partie_3__texte > a::after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: #FF7F11;
    position: absolute;
    bottom: 25px;
    left: 46%;
    transform-origin: 0% 50%;
    transform: scale(0);
    transition: 0.5s;
  }
  .veille_technologique__contenu__cours__contenu .veille_technologique__contenu__cours__contenu__partie_3__texte > a:hover::after {
    transform: scale(1);
  }
  .me_contacter {
    width: 105%;
    height: 60%;
    right: 10px;
    position: relative;
    top: 2000px;
  }
  .me_contacter > h1 {
    font-weight: 100;
    font-size: 35px;
    text-decoration: underline #FF7F11;
    color: rgb(31, 3, 104);
    text-align: center;
  }
  .me_contacter__contenu {
    background: linear-gradient(513deg, rgb(31, 3, 104) 55%, rgb(255, 127, 17) 99%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .me_contacter__contenu__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 35%;
    position: relative;
    left: 20px;
  }
  .me_contacter__contenu__info__contenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 28%;
    width: 100%;
  }
  .me_contacter__contenu__info__contenu__image {
    width: 50px;
    height: 55px;
    position: absolute;
    left: 30px;
  }
  .me_contacter__contenu__info__contenu__info_perso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    position: absolute;
    left: 28%;
    font-size: 18px;
  }
  .me_contacter__contenu__info__contenu__info_perso__titre {
    margin-bottom: 5px;
    font-weight: 700;
  }
  .me_contacter__contenu__contacter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
  }
  .me_contacter__contenu__contacter__reseaux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40%;
  }
  .me_contacter__contenu__contacter__reseaux__logo {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .me_contacter__contenu__contacter__reseaux__logo > img {
    width: 95%;
    height: 95%;
    position: absolute;
    transition: 0.5s;
  }
  .me_contacter__contenu__contacter__reseaux__logo > img:nth-child(2) {
    opacity: 0;
  }
  .me_contacter__contenu__contacter__reseaux__logo:hover > img:nth-child(1) {
    opacity: 0;
  }
  .me_contacter__contenu__contacter__reseaux__logo:hover > img:nth-child(2) {
    opacity: 1;
  }
  .me_contacter__contenu__contacter__mail {
    border: #fff solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 30%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
  }
  .me_contacter__contenu__contacter__mail > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: #fff solid 2px;
    width: 93%;
    height: 70%;
    position: relative;
    overflow: hidden;
  }
  .me_contacter__contenu__contacter__mail > div > p {
    position: absolute;
    z-index: 2;
  }
  .me_contacter__contenu__contacter__mail > div::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #FF7F11;
    display: block;
    position: absolute;
    z-index: 1;
    transform: translateY(101%);
    transition: 0.5s;
  }
  .me_contacter__contenu__contacter__mail:hover > div::after {
    transform: translateY(0%);
  }
}

/*# sourceMappingURL=accueil.css.map */
